@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;300;400;700;800;900&family=Montserrat:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "Montserrat", sans-serif;

  color: var(--text);
}
/* Colors */
:root {
  --primary-color: #00325b;
  --secondary-color: #005daa;
  --white: #ffffff;
  --text: #393939;
  --light: #f1f1f1;
}

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 1.75rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  width: 90vw;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.btn {
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--light);
  color: var(--white);

  text-align: center;

  width: 13rem;
}

.btn-primary {
  background-color: var(--light);
  color: var(--primary-color);
}

.section-content h1 {
  align-items: center;
  color: var(--primary-color);
}
.section-content h1 span {
  padding-left: 0.75rem;
}
.about-me,
.portfolio,
.technical-skills,
.contact {
  padding: 3rem 0;
}
/* Header */

.header-menu {
  display: grid;
  height: 5rem;
  background-color: var(--white);

  position: fixed;
  width: 100vw;
  top: 0;

  z-index: 5;
}
#header-logo {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}
.header-menu .container {
  justify-content: space-between;
  align-items: center;
}
.menu-btn,
.menu-btn::before,
.menu-btn::after {
  width: 2rem;
  height: 3px;
  border-radius: 1.5rem;
  background-color: var(--primary-color);
  transition: transform 250ms ease-in-out;
}
.menu-btn {
  width: 2rem;
  display: block;
  position: relative;
}
.menu-btn::before,
.menu-btn::after {
  content: "";
  position: absolute;
  right: 0;
}
.menu-btn::before {
  bottom: 0.625rem;
}
.menu-btn::after {
  top: 0.625rem;
}

.menu-open .menu-btn {
  transform: rotate(45deg);
  width: 2rem;
}

.menu-open .menu-btn::before {
  opacity: 0;
}

.menu-open .menu-btn::after {
  transform: rotate(90deg) translate(-0.625rem);
}

.menu {
  z-index: 10;
  background-color: var(--secondary-color);
  width: 90%;
  height: 100vh;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu li {
  padding: 0.5rem;
}

.menu li:first-child {
  text-align: right;
  justify-content: end;
}
.menu a {
  color: var(--light);
  font-weight: 500;
}

.menu .menu-btn,
.menu .menu-btn::before,
.menu .menu-btn::after {
  background-color: var(--white);
}
.menu-open .menu {
  transform: translateX(0);
}
/* Main */
/* Hero Section */

.hero {
  background: linear-gradient(rgba(0, 50, 91, 0.9), rgba(0, 50, 91, 0.9)),
    url("images/bg-small.jpg") no-repeat center;
  background-color: var(--primary-color);
  height: calc(100vh - 60px);

  margin-top: 60px;
}
.hero .container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  color: var(--white);
  padding: 2rem 0;
}

.hero-content {
  /* height: 100%; */
  width: 100%;
}
.hero-content h1 {
  text-transform: uppercase;
  text-align: center;
}
.hero-content #name {
  padding: 2rem 0;
  color: var(--light);
  font-size: 2rem;
}

.hero-content #occupation {
  margin: 3.25rem 0;
  font-size: 2.25rem;
}

.buttons {
  position: relative;
  bottom: 0;
  flex-direction: column;
}

.buttons #hire-me {
  margin-top: 1.5rem;
}

/* About Me */
.about-me-content p {
  padding: 1.75rem 0 0;
}
.about-me .img-container {
  text-align: center;
}
.about-me #profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Portfolio */
.portfolio {
  background-color: var(--light);
}
.portfolio .projects-container {
  padding: 1.75rem 0 0;
}
.portfolio .project {
  position: relative;
  margin: 1rem 0;
  padding: 1rem 0.75rem;
  color: var(--light);
  background-color: var(--primary-color);
  border-radius: 20px;
  border-bottom: 10px solid var(--secondary-color);
}

.project {
  position: relative;
}
.project h2 {
  color: var(--white);
  text-align: center;
}

.project p {
  padding: 1rem 0;
}
.technologies-container {
  padding: 0.5rem 0 4.5rem;
  text-align: center;
}
.project .technologies {
  display: flex;
  justify-content: space-around;
}

.technologies ul li {
  padding: 0.25rem 0;
  list-style: circle;
}
.project .project-links {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.75rem;
  text-align: center;
}
.project-links a {
  color: var(--white);
  margin: 0 0.75rem;
  text-decoration: underline;
}

.project-links i {
  padding-right: 0.5rem;
}
/* Tech Skills */
.technical-skills .skills-container {
  margin: 2rem 0 0;
}
.skills-container.grid {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  justify-items: center;
  align-items: center;
}
.skills-container i {
  color: var(--primary-color);
}
.skill {
  flex-direction: column;
  align-items: center;
}

.skill span {
  padding-top: 0.25rem;
  font-weight: 600;
  color: var(--primary-color);
}
/* Contact */
.contact {
  background-color: var(--light);
}
.contact-form li {
  margin-top: 1.75rem;
}

.other-contacts {
  margin: 1.75rem 0 2.25rem;
  flex-direction: column;
  justify-content: center;
}

.other-contacts li {
  padding: 0.25rem 0;
}
.other-contacts a {
  color: var(--primary-color);
  padding: 0.25rem;
}
.other-contacts i {
  padding-right: 0.5rem;
}
/* Footer */
footer {
  background-color: var(--primary-color);
  padding: 1.5rem 0;
}

footer .container h3 {
  color: var(--white);
}
.footer-nav {
  margin: 1rem 0;
}
.footer-nav li {
  padding: 0.25rem;
}
.footer-nav a {
  text-transform: uppercase;
  color: var(--light);
  font-size: 14px;
}

.social-media-links .flex {
  justify-content: center;
  margin: 2.75rem 0 1.5rem;
}

.social-media-links li {
  margin: 0 2.25rem;
}
.social-media-links i {
  color: var(--white);
}

.copyright {
  text-align: center;
  color: var(--light);
  margin-top: 1.5rem;
}
/* Tablet */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
  .hero-content #name {
    font-size: 2.5rem;
  }

  .hero-content #occupation {
    font-size: 3rem;
  }
  .buttons {
    flex-direction: row;
  }
  .buttons #portfolio,
  .buttons #hire-me {
    margin: 0 2rem;
  }

  .about-me .container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }

  .img-container #profile-pic {
    height: 250px;
    width: 250px;
    margin: 0;
  }
  .projects-container.grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .skills-container.grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .contact .other-contacts ul {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }

  footer h3,
  footer .footer-nav,
  footer .social-media-links {
    display: none;
  }

  footer .copyright {
    margin: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .header-menu .menu-btn {
    display: none;
  }

  .menu {
    transform: translateX(0);
    background-color: transparent;
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    padding: 0;
  }
  .menu li {
    padding: 0 0 0 1.5rem;
    text-align: right;
  }
  .menu a {
    color: var(--primary-color);
  }

  .hero-content #name {
    font-size: 3rem;
  }

  .hero-content #occupation {
    font-size: 3.5rem;
  }

  .projects-container.grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .skills-container.grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
