@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,900;1,9..40,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

:root {
  --primary-color: #022135;
  --dark-shades: #141216;
  --dark-accent: #637682;
  --light-shades: #f1eaed;
  --light-accent: #4aa2c0;
  --success-color: #2ecc70;
  --error-color: #e74d3c;

  --text-6xl: 3.75rem;
  --text-5xl: 3rem;
  --text-4xl: 2.25rem;
  --text-2xl: 1.5rem;
  --text-sm: 0.875rem;

  --font-light: 300;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--light-shades);
}

main {
  height: 100%;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

h2 {
  font-size: var(--text-4xl);
  line-height: 2.25rem;
}

h3 {
  font-size: var(--text-2xl);
  line-height: 2rem;
}

p {
  max-width: 600px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Feedback */
.feedback {
  color: var(--light-shades);
  width: 300px;
  border-radius: 0.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  transform: translateY(calc(-100% - 1rem));
  transition: all 0.3s ease-in-out;

  .feedback__message {
    font-size: var(--text-sm);
    line-height: 1.25rem;
  }
}

.feedback.feedback--show {
  transform: translateY(0);
}

/* Nav bar */
.nav-bar {
  position: fixed;
  background-color: var(--primary-color);
  width: 100vw;
  padding: 1rem 0;
  top: 0;

  z-index: 5;

  .nav-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-bar__logo-container {
      width: 150px;
      line-height: 0;
    }

    .nav-bar__logo {
      width: 100%;
    }
  }
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  width: 1.5rem;
  height: 3px;
  border-radius: 1.5rem;
  background-color: var(--light-shades);
  transition: transform 250ms ease-in-out;
}

.hamburger-icon {
  width: 1rem;
  display: block;
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  position: absolute;
  right: 0;
}

.hamburger-icon::before {
  bottom: 0.625rem;
}

.hamburger-icon::after {
  top: 0.625rem;
}

.menu-open .hamburger-icon {
  transform: rotate(45deg);
  width: 1.5rem;
}

.menu-open .hamburger-icon::before {
  opacity: 0;
}

.menu-open .hamburger-icon::after {
  transform: rotate(90deg) translate(-0.625rem);
}

.nav-bar__menu {
  z-index: -2;
  background-color: var(--dark-shades);
  width: 100%;
  height: 100vh;
  padding: 1rem;
  margin-top: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.nav-bar__menu-items {
  width: 90vw;
  margin: 0 auto;
}

.menu-open .nav-bar__menu {
  transform: translateX(0);
}

.menu-item {
  padding: 0.5rem 0;
}

.menu-item:first-child {
  justify-content: end;
}

.menu-item {
  a {
    color: var(--light-shades);
    font-weight: 500;
  }
}

/* Hero Section */
.hero {
  padding: 8rem 0 5rem;
  background-color: var(--primary-color);
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.hero__name {
  font-size: var(--text-6xl);
  font-weight: var(--font-light);
  letter-spacing: 0.25rem;
  line-height: 1;
  display: block;
  color: var(--light-accent);
}

.hero__intro {
  font-size: var(--text-sm);
  line-height: 1.25rem;
}

.hero__image {
  display: none;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-accent);
  border-radius: 1.5rem;
  padding: 0.5rem 1.25rem;
  text-align: center;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;

  width: max-content;
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(0.95);
}

.btn-transparent {
  color: var(--light-shades);
  border-color: var(--light-shades);
}

.btn-white {
  background-color: var(--light-shades);
  border-color: var(--light-shades);
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--light-accent);
  border-color: var(--light-accent);
  color: var(--dark-shades);
}

.hero__buttons {
  display: flex;
  gap: 1rem;
}

.cv-download {
  margin-top: 2rem;
}

.section__container {
  color: var(--primary-color);
  padding: 5rem 0;
}

.section__header {
  gap: 0.5rem;
}

.section__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--text-sm);
  line-height: 1.25rem;
  padding: 0.5rem 0;

  p a {
    color: var(--dark-shades);
    text-decoration: underline;
  }

  p a:hover {
    color: var(--light-accent);
    text-decoration: none;
  }
}

.buttons {
  position: relative;
  bottom: 0;
  flex-direction: column;
}

.buttons #hire-me {
  margin-top: 1.5rem;
}

/* About Me */

.section-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about .container {
  display: grid;
  gap: 2.5rem;
}

.img-container img {
  width: 100%;
  border-radius: 2rem;
}

/* Portfolio */
.portfolio {
  background-color: var(--dark-accent);
}

.portfolio .projects-container {
  padding-top: 2.5rem;
}

.portfolio .project {
  position: relative;
  margin: 1rem 0;
  padding: 1rem 0.75rem;
  color: var(--light-shades);
  background-color: var(--dark-shades);
  border-radius: 2rem;
  border-bottom: 10px solid var(--);
  text-align: center;
}

.project {
  position: relative;
  text-align: center;
}

.maemo {
  background: url("assets/images/maemo.jpg") no-repeat center/cover;
  background-blend-mode: multiply;
}

.dpss {
  background-image: url("assets/images/4dpss.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.handyman {
  background-image: url("assets/images/handyman.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.project h2 {
  color: var(--light-shades);
  text-align: center;
}

.project p {
  padding: 1rem 0;
}
.technologies-container {
  padding: 0.5rem 0 4.5rem;
  text-align: center;
}
.technologies-container h4 {
  padding: 1rem 0;
}
.project .technologies {
  display: flex;
  justify-content: space-around;
}

.technologies ul li {
  padding: 0.25rem 0;
  list-style: circle;
}
.project .project-links {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.75rem;
  text-align: center;
}
.project-links a {
  color: var(--light-shades);
  margin: 0 0.75rem;
  text-decoration: underline;
}

.project-links i {
  padding-right: 0.5rem;
}

/* Tech Skills */
.skills {
  color: var(--primary-color);
}

.skills-container {
  padding-top: 2.5rem;
}

.skills-container.grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 1rem;
  justify-items: center;
  align-items: center;
}

.skills-container i {
  color: var(--primary-color);
}

.skill {
  align-items: center;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 1.25rem;
  padding-right: 0.5rem;
  overflow: auto;
  color: var(--light-shades);
}

.skill i {
  background-color: var(--light-accent);
  padding: 0.375rem 0.75rem;
}
/* Contact */
.contact {
  background-color: var(--primary-color);
}

.contact .section__header {
  color: var(--light-shades);
}

.contact .icon {
  background-color: var(--light-accent);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 1rem;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
}

.contact__details {
  display: grid;
  gap: 1.75rem;
  padding-top: 2.5rem;
}

.contact__form {
  margin-top: 3rem;
}

.contact__form ul {
  margin-top: 0.5rem;
}

.send-message {
  width: 100%;
  margin-top: 3.75rem;
}

.form__control {
  position: relative;
  color: var(--light-shades);
  padding: 2rem 0 0;
}

.form__control input,
.form__control textarea {
  background-color: transparent;
  border: none;
  display: block;
  border-bottom: 2px solid var(--light-shades);
  padding: 0.25rem 0 0.5rem;
  margin: 0.5rem 0 1.5rem;
  color: var(--light-shades);
  width: 100%;
}

.form__control input:focus,
.form__control textarea:focus {
  outline: none;
  border-bottom-color: var(--light-accent);
}

.form__control label {
  position: absolute;
  top: 2.5rem;
  left: 0;
  color: var(--light-shades);

  margin-bottom: 0.5rem;
}

.form__control label span {
  display: inline-block;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form__control input:focus + label span,
.form__control input:valid + label span,
.form__control textarea:focus + label span,
.form__control textarea:valid + label span {
  transform: translateY(-1.5rem);
  font-size: 0.75rem;
  color: var(--light-accent);
}

.contact__details-item {
  background-color: var(--light-shades);
  border-radius: 2rem;
  padding: 0.25rem;

  a {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    font-weight: 600;
  }
}

/* Footer */

.social-media-links {
  background-color: var(--light-shades);
  padding: 2.25rem 0;
}

.social-media-links .flex {
  justify-content: center;
  margin: 2.75rem 0 1.5rem;
}

.social-media-links li {
  margin: 0 2.25rem;
}
.social-media-links i {
  color: var(--light-accent);
}

.copyright {
  text-align: center;
  color: var(--primary-color);
  padding: 1.25rem 0;
  border-top: 1px solid var(--primary-color);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .about .container {
    column-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .projects-container.grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .skills-container.grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .contact__details {
    grid-template-columns: repeat(2, 1fr);
  }

  footer h3,
  footer .footer-nav,
  footer .social-media-links {
    display: none;
  }

  footer .copyright {
    margin: 0;
  }
}

/******************* Desktop *****************/
@media screen and (min-width: 1024px) {
  /* Nav bar */
  .hamburger-icon {
    display: none;
  }

  .nav-bar__menu {
    transform: translateY(0);
    background-color: transparent;

    position: relative;
    height: auto;
    width: auto;
    padding: 0;
    z-index: 0;
    margin: 0;
  }

  .nav-bar__menu-items {
    display: flex;
    width: auto;
  }

  .menu-item {
    padding: 0 0 0 1.5rem;
    text-align: right;
  }

  .hero {
    padding-left: 2rem;
  }

  .hero__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
  }

  .hero__image {
    display: block;
    justify-self: center;
  }

  .section__container {
    padding: 5rem 2rem;
  }

  .projects-container.grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .skills-container.grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .contact__details {
    grid-template-columns: repeat(3, 1fr);
  }
}
